<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adicionar.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div></div>
        <h1>Titulo do catalogo</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/editar">Editar</a></li>
                <li><a href="/deletar">Deletar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 id="first">Adicione um novo livro!</h1>
        <div class="card">
            <div class="titulo">
                <h1>Título:</h1>
                <input id="title" type="text" placeholder="Digite o título" name="title">
            </div>
            <div class="autor">
                <h1>Autor:</h1>
                <input id="author" type="text" placeholder="Digite o nome do autor" name="author">
            </div>
            <div class="ano">
                <h1>Ano de publicação:</h1>
                <input id="data" type="text" placeholder="Digite o ano da publicação" name="data">
            </div>
            <div class="sinopse">
                <h1>Sinopse:</h1>
                <input id="details" type="text" placeholder="Digite uma breve sinopse" name="details">
            </div>
            <div class="imagem">
                <h1>Imagem:</h1>
                <input id="image" type= "url" name="" id="Coloque o link da capa do livro" name="img">
            </div>
        </div>
    </main>
</body>
</html>
