<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/adicionar.css">
    <link rel="icon" type="imagem/png" href="https://static.vecteezy.com/system/resources/previews/001/200/097/large_2x/book-png.png" />
    <title>Machine Book</title>
</head>
<body>
    <header>
        <div>
        </div>
        <div class="art">
            <img src="https://static.vecteezy.com/system/resources/previews/001/200/097/large_2x/book-png.png" height="35" width="45" alt="book">
            <h1>Machine Book</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/"><b>Home</b></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="container">
            <h1 id="first">Adicione um novo livro!</h1>
            <form action="/adicionar" method="POST">
                <div class="card">
                    <div class="titulo">
                        <label for="titutlo"> Título: </label><br>
                        <input id="title" type="text" name="titulo" placeholder="Digite o título" required>
                    </div><br>
                    <div class="autor">
                        <label for="autores"> Autor: </label><br>
                        <input id="author" type="text" placeholder="Digite o nome do autor" name="autores">
                    </div><br>
                    <div class="ano">
                        <label for="ano"> Ano de Publicação: </label><br>
                        <input id="number" type="text" placeholder="Digite o ano da publicação" name="ano">
                    </div><br>
                    <div class="sinopse">
                        <label for="sinopse"> Sinopse: </label><br>
                        <textarea id="details" rows="10" cols="32" maxlength="400" placeholder="Digite uma breve sinopse" name="sinopse"></textarea>
                    </div><br>
                    <div class="imagem">
                        <label for="img"> Imagem: </label><br>
                        <input id="image" type= "url" placeholder="Digite o link da capa do livro" name="img">
                    </div>
                </div>
                <div class="buttom">
                    <button id="adicionar" type="submit">Adicionar</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <b>Todos os direitos reservados a autora Jamile Boffo</b>
    </footer>
</body>
</html>