<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/deletar.css">
    <link rel="icon" type="imagem/png" href="https://www.nozartes.com.br/wp-content/uploads/2020/03/ico-livro-branco.png" />
    <title>Machine Book</title>
</head>
<body>
    <header>
        <div>
            <img src="https://www.nozartes.com.br/wp-content/uploads/2020/03/ico-livro-branco.png" height="40" width="50" alt="book">
        </div>
        <h1 id="first">Machine Book</h1>
        <nav>
            <ul>
                <li><a href="/"><b>Home</b></a></li>
                <li> | </li>
                <li><a href="/adicionar"><b>Adicionar</b></a></li>
                <li> | </li>
                <li><a href="/editar"><b>Editar</b></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="container">
            <h1 id="first">Delete um livro!</h1>
            <form action="/delete" method="POST">
                <div class="card">
                    <div class="opcoes-titulo">
                        <h1>Qual título deseja editar?</h1>
                        <br>
                        <select name="select-title" id="select-title">
                            <% produtoAt.forEach(element => { %>  
                              <option value="esctitle"> <%= element.titulo %>  </option>
                            <% }) %>  
                        </select>
                    </div>
                    <br>
                    <div class="buttom">
                        <a href="/delete ">
                            <button type="button" class="botao-delete">Deletar</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <b>Todos os direitos reservados a autora Jamile Boffo</b>
    </footer>
    <script src="./public/js/deletar.js"></script>
</body>
</html>
