<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/editar.css">
    <link rel="icon" type="imagem/png" href="https://www.nozartes.com.br/wp-content/uploads/2020/03/ico-livro-branco.png" />
    <title>Machine Book</title>
</head>
<body>
    <header>
        <div>
            <img src="https://www.nozartes.com.br/wp-content/uploads/2020/03/ico-livro-branco.png" height="40" width="50" alt="book">
        </div>
        <h1 id="first">Machine Book</h1>
        <nav>
            <ul>
                <li><a href="/"><b>Home</b></a></li>
                <li> | </li>
                <li><a href="/adicionar"><b>Adicionar</b></a></li>
                <li> | </li>
                <li><a href="/deletar"><b>Deletar</b></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="container">
            <h1 id="first">Editar um livro!</h1>
            <form action="/editar" method="POST">
                <div class="card">
                    <div class="opcoes-titulo">
                        <h1>Qual título deseja editar?</h1>
                        <select name="select-title" id="select-title">
                            <% produtos.forEach(element => { %>
                                <option value="esctitle"> <%= element.nome %>  </option>
                            <% }) %>
                        </select>
                    </div>
                    <br>
                    <div class="opcoes-item">
                        <h1>Qual item deseja alterar?</h1>
                        <select name="select-item" id="select-item">
                            <option value="title">Título</option>
                            <option value="author">Autor</option>
                            <option value="data">Data de Publicação</option>
                            <option value="details">Sinopse</option>
                            <option value="image">Imagem</option>
                        </select>
                    </div>
                    <br>
                    <div class="edicao">
                        <textarea id="edit" rows="5" cols="35" maxlength="500" placeholder="Digite aqui sua alteração"></textarea>
                    </div>
                    <br>
                    <div class="buttom">
                        <button id="editar">Editar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <b>Todos os direitos reservados a autora Jamile Boffo</b>
    </footer>
</body>
</html>
