@import url('http://fonts.cdnfonts.com/css/harry-potter');

* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Harry Potter', sans-serif;;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

div.product-container{
    padding: 5px;

    text-align: center;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: brown;

    color: black;
    border: solid 2px slategray;
    border-radius: 10px;

}

div.product-container:hover {
    background-color: aqua;
    transform: scale(1.0);
}
