@import url('http://fonts.cdnfonts.com/css/pianaforma');

* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Pianaforma', sans-serif;
}

header {
    background-color: #ffcc4e;
}
header h1{
    color:#2c2100;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #fdfc95;
}
div.product-container{
    padding: 5px;

    text-align: center;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #ff8836;

    color: #2c2100;
    border: solid 2px #2c2100;
    border-radius: 10px;

}
div.product-container:hover {
    background-color: #225900;
    transform: scale(1.0);
}
span.title-container{
    font-size:  150%;
}
span.autot-container {
    font-size: 100%;
}

a {
    text-decoration: none;
}
